body{
    background-color: #34495e;
}

.list-group-item{
    background-color: #34495e !important;
}

.stock-row{
    cursor: pointer;
}

.num-bold{
    font-size: 19pt;
    font-weight: bold;
}

.s-name{
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}

.g-total{
    font-weight: bold;
}

.g-me{
    background-color: #314e77 !important;
}

.nav-game-mode{
    background-color: #114d5c !important;
}

.table-container {
    border-radius: 11px !important;
    border: 0px solid rgba(134, 134, 134,0) !important;
    margin: 0 !important;
    padding: 0 !important;
    padding-top: 1%;
    margin: 0px auto;
    float: none;
    height: 46rem;
    overflow-y: auto;
  }

.jumbotron{
    background-color: #2c3e50 !important;
}

a.card{
    text-decoration: inherit;
    color: inherit;
}

a.card:hover{
    background-color: #547ba1 !important;
}

.card{
    background-color: #2c3e50 !important;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
background: #888;
}

::-webkit-scrollbar-thumb:hover {
background: #555;
}

.modal{
    background-color: #34495e !important;
}