
body{
    height: 100vh !important;
}

html{
    height: 100vh !important;
}

@media only screen and (max-width: 480px) {
    .table-container{
        height: 44vh;
    }

    .display-4{
        font-size: 36px;
    }
}

#pp-name{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}