
          <!-- 
          {% for field in form
              if field.widget.input_type != 'hidden' %}
              {% if field.widget.input_type == '' %}
              <div class="form-group">
                  {{ field.label }}
                  {{ field(class="form-control")}}
                  
                    {% for error in field.errors %}
                    <small class="text-danger">{{ error }}</small>
                    {% endfor %}
              </div>
          {% endfor %}
          -->