{% extends 'base.html' %}
{% block body %}
<div class="row m-0 m-sm-2">
    <div class="col-12 col-sm-3 pb-3">
        <div class="h3">My Games</div>
        <ul class="list-group">
            {% if user %}
                {% for game in user.games %}
                <a href="/games/{{game.id}}" class="list-group-item">{{game.name}}</a>
                {% endfor %}
            <a href="/newgame" class="list-group-item">New Game</a>
            {% endif %}
        </ul>
    </div>
    <div class="col-12 col-sm-3">
        <div class="h3">Public Games</div>
        <ul class="list-group"></ul>
            {% if public_games%}
            {% for game in public_games %}
            <a href="/games/{{game.id}}" class="list-group-item">{{game.name}}</a>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}