{% extends 'base.html' %}
{% block body %}

<div class="row justify-content-center">
  <div class="col-md-6">
      <div class="display-4 pb-3">Login</div>
      <form id="user-register" method="POST" action="">
          {{ form.hidden_tag() }} 
          {% for field in form
              if field.widget.input_type != 'hidden' %}
              <div class="form-group">
                  {{ field.label }}
                  {{ field(class="form-control")}}
                  
                  <small class="text-danger">
                      {% for error in field.errors %}
                          {{ error }}
                      {% endfor %}
                  </small>
              </div>
          {% endfor %}
          <button type="submit" class="btn btn-success mt-3">Done</button>
      </form>
  </div>
</div>

{% endblock %}